{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contributeurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contributeur in contributeurs %}
            <tr>
                <td><a href="{{ path('contributeur_show', { 'id': contributeur.id }) }}">{{ contributeur.id }}</a></td>
                <td>{{ contributeur.nom }}</td>
                <td>{{ contributeur.prenom }}</td>
                <td>{{ contributeur.email }}</td>
                <td>{{ contributeur.telephone }}</td>
                <td>{{ contributeur.adresse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contributeur_show', { 'id': contributeur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contributeur_edit', { 'id': contributeur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contributeur_new') }}">Create a new contributeur</a>
        </li>
    </ul>
{% endblock %}
