{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contributions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Typepayement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contribution in contributions %}
            <tr>
                <td><a href="{{ path('contribution_show', { 'id': contribution.id }) }}">{{ contribution.id }}</a></td>
                <td>{{ contribution.montant }}</td>
                <td>{{ contribution.typepayement }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contribution_show', { 'id': contribution.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contribution_edit', { 'id': contribution.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contribution_new') }}">Create a new contribution</a>
        </li>
    </ul>
{% endblock %}
