{% extends 'base.html.twig' %}

{% block body %}
    <h1>Structures list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Telephone</th>
                <th>Secteur</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Siteweb</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for structure in structures %}
            <tr>
                <td><a href="{{ path('structure_show', { 'id': structure.id }) }}">{{ structure.id }}</a></td>
                <td>{{ structure.nom }}</td>
                <td>{{ structure.type }}</td>
                <td>{{ structure.telephone }}</td>
                <td>{{ structure.secteur }}</td>
                <td>{{ structure.adresse }}</td>
                <td>{{ structure.email }}</td>
                <td>{{ structure.siteweb }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('structure_show', { 'id': structure.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('structure_edit', { 'id': structure.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('structure_new') }}">Create a new structure</a>
        </li>
    </ul>
{% endblock %}
